.title {
  text-align: center;
  color: black;
  font-size: 45px;
  padding-bottom: 5px;
}

.search-bar {
  width: 50%;
  height: 33px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: white;
}

.search-form {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 25px;
}

.check-boxes {
  box-sizing: border-box ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 45rem;
}

.nav {
  box-sizing: border-box ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 7rem;
}

.nav li {
  cursor: pointer;
  font-weight: 500;
  color: black;
}

.new-trailer-form {
  text-align: center;
  padding-top: 55px;
}

.new-trailer-form li {
  list-style: none;
  padding: 20px;
}

.new-trailer-form input {
  height: 25px;
  width: 20%;
  background-color: whitesmoke;
}

.new-form-button {
  border-color: rgb(90, 90, 217);
  cursor: pointer;
  height: 25px;
  background-color: whitesmoke;
}

.trailer-card {
  text-align: center;
  padding-top: 25px;
  border: 2px solid;
  border-color: black;
  padding-bottom: 25px;
  flex-direction: row;
  border-radius: 12px;
  background-color: white;
}

.location {
  font-style: italic;
  background-color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 121px;
  padding-top: 30px;
}

.card-item {
  display: flex;
  padding: 1rem;
  width: 22%;
  text-align: center;
}

.card-image {
  border: 2px solid;
  border-color: black;
  object-fit: cover;
  text-align: center;
}

* {
  background-color: lightblue;
}

.card-name {
  background-color: white;
}

.card-price {
  background-color: white;
  padding-bottom: 5px;
}

.card-description {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.delete-button {
  background-color: white;
  padding-top: 27px;
}

.add-to-cart {
  background-color: white;
  padding-top: 27px;
}

.shopping-cart {
  position: absolute;
  right: 50px;
  top: 30px;
  text-align: center;
  margin: none;
}

.cart-logo {
  font-size: 30px;
  padding-bottom: 0px;
}

.item-count {
  margin: none;
}
.build-form-list {
  list-style:none;
  text-align: left;
  background-color: antiquewhite;
}

.build-form input {
  background-color:rgb(240, 218, 193);
  text-align: center;
  
}
.build-form {
  padding-left: 50px;
  padding-right: 50px;
  border: 6px solid rgb(8, 8, 8);
  align-self: center;
  position: center;
  justify-content: center;
  border-radius: 5px;
  background-color: antiquewhite;

}

.build-form li {
  padding-top: 20px;
}

.bfli {
  background-color: antiquewhite;
}
p.bfli {
  background-color: antiquewhite;
}

.bfdiv{
  position: relative;
}

.li-padding {
  list-style: none;
  padding-left: 625px;
}

.thank-you-div {
  text-align: center;
font-weight: bold;}

.build-card {
  text-align: center;
  padding-top: 25px;
  border: 2px solid;
  border-color: black;
  padding-bottom: 25px;
  flex-direction: row;
  border-radius: 12px;
  background-color: white
}

.package-list {
  list-style: none;
  background-color: white;
}

.build-item {
  display: flex;
  padding: 1rem;
  width: 500px;
  text-align: center;
  padding: 50px;
  padding-left: 700px;
}

.build-name {
  background-color: white;
  text-align: center;
  padding-bottom: 5px;
}

.build-label {
  background-color: white;
  text-align: center;
  padding-right: 40px;
}

.build-price {
  background-color: white;
}

.build-desc {
  background-color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.package-map {
  background-color: white;
  text-align: center;
  padding-right: 30px;
}
